body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: url(bg.jpg);
    background-size: cover;
    font-family: sans-serif;  
}
.calendar{
    width: 300px;
    height: auto;    
    margin-top: 290px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(0,0,0,.5);
}
.calendar .image{
    width: 100%;
    font-weight: 500;
}
.calendar .image h2,
.calendar .image h3{
    margin-left: -15px;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.calendar .date{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}
.calendar .date div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: #262626;
}
.calendar .date div.day{
    font-weight: 600;
}
.calendar .date div.day:first-child,
.calendar .date div.number:nth-child(7n + 1){
    color:deeppink;
}
.calendar .date div.number.active,
.calendar .date div.number:hover{

    background: #009688;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
